
.background{
    background-color: aqua;
    max-width: 100%;
    height: 2000px;
}
.header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
.Center{
    background-color: crimson;
}
.right{
    float: right;
    width: 40%;
    height: 300px; 
    background: #ccc;
    padding: 20px;
}
.left{
    background-color: coral;
    float: left;
    width: 40%;
    height: 300px; 
    
    padding: 20px;
}
